/*   Styles for the registration section   */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


body
{
	background : #f4f4f4;
}

#reg-section 
{
	height : 100%;
	width : 100%;
	background : #f4f4f4;
}



#registration_container 
{
	font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans', sans-serif;
	margin-top : 80px;
	border-radius : 10px;
	box-shadow: 3px 3px 15px #ccc;
	background : rgba(0,0,0,.9);
	color : white;
	padding : 30px;
}

#register-form 
{
	width : 800px;
	margin : 40px auto;
}

.rform-input 
{
	margin : 40px auto;
}

#reg_submit 
{
	width : 300px;
	display: flex;
	margin : 40px auto;
	justify-content: center;
	background : white;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#reg_submit:hover 
{
	background : black;
	color : #f4f4f4;
}
